
<%= link_to @payment_url do%>
<%= image_tag 'paypal.png', class: 'pp-img', title: 'Checkout with Paypal'%>
<% end %>
<p>Important: You will be redirected to PayPal's website to securely complete your payment.</p>
<!-- <a class="btn btn-primary">Checkout via Paypal</a> -->
<%= link_to 'Checkout via Paypal', @payment_url ,class: "btn btn-primary"%>
