<!-- <h1>Editing Booking</h1> -->

<%#= render 'form' %>

<%#= link_to 'Show', @booking %>
<%#= link_to 'Back', bookings_path %>



<div class="container">
    <div class="gap gap-small"></div>
  <div class="row">
      <div class="col-md-8">
        <h1>Editing Booking</h1>
    <div class="gap gap-small"></div>
    <%= render 'bookings/form' %>
    </div>
    <div class="col-md-4">
      <%= render 'flights/flight_details', flight: @booking.flight %>
    </div>
  </div>
</div>
