<div class="container">
  <div class="gap gap-small"></div>
  <div class="row">
    <div class="col-md-8">
      <% unless current_user %>
      <div class="panel panel-warning">
        <div class="panel-heading">
          You can view and cancel your bookings if you are logged in on Flye
        </div>
        <div style="padding: 18px 0; height: 60px;">
        <%= render 'layouts/login_buttons' %>
        </div>
      </div>
      <% end %>
      <div class="gap gap-small"></div>
      <%= render 'bookings/form' %>
    </div>
    <div class="col-md-4">
      <%= render 'flights/flight_details', flight: @flight %>
    </div>
  </div>
</div>
