<div class="gap scroll_to_search_result"></div>
  <div class="container">
    <div class="row">
        <div class="col-md-10 col-md-offset-1 search_flight_results">
            <div class="row row-wrap" data-gutter="120">
                <div class="col-md-4 col-xs-4 col-sm-4">
                    <div class="thumb">
                        <header class="thumb-header"><i class="fa fa-briefcase box-icon-black round box-icon-big animate-icon-top-to-bottom"></i>
                        </header>
                        <div class="thumb-caption">
                            <h5 class="thumb-title"><a class="text-darken" href="#">We Fly Anywhere</a></h5>
                            <p class="thumb-desc">Because life can take you there</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-xs-4 col-sm-4">
                    <div class="thumb">
                        <header class="thumb-header"><i class="fa fa-dollar box-icon-black round box-icon-big animate-icon-top-to-bottom"></i>
                        </header>
                        <div class="thumb-caption">
                            <h5 class="thumb-title"><a class="text-darken" href="#">Best Price Guarantee</a></h5>
                            <p class="thumb-desc">You can be sure that we have unbeatable Prices</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-xs-4 col-sm-4">
                    <div class="thumb">
                        <header class="thumb-header"><i class="fa fa-lock box-icon-black round box-icon-big animate-icon-top-to-bottom"></i>
                        </header>
                        <div class="thumb-caption">
                            <h5 class="thumb-title"><a class="text-darken" href="#">Trust & Safety</a></h5>
                            <p class="thumb-desc">You are treated as royalty all the way. Never should you lose your stuffs anymore!</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="gap gap-small"></div>
</div>
