<h4>Your Flight Ticket Details</h4>
<p>Hey <%= @passenger.first_name %></p>
<p>
  <%= "Thanks for booking your flight from #{@flight.origin.location} to #{@flight.destination.location}." %>
</p>
<p>
  Present this at the airport as your proof of confirmation
</p>
