 @import 'bootstrap-datetimepicker';

span.booking-item-price{
   font-size: 16px;
 }

div.search-tabs-abs{
  top: 20%;
}

.fa.fa-check.box-icon-success{
  padding-top: 25px;
}

.fa.box-icon-big{
   padding-top: 18px;
 }
