<footer id="main-footer">
    <div class="container">
        <div class="row row-wrap">
            <div class="text-center">
                <%= link_to root_path, class: 'logo' do %>
                  <%= image_tag 'flye.png'%>
                <% end %>
                <span>By <a href="http://twitter.com/oreakinniranye">Oreoluwa</a> for <a href="http://andela.com">Andela</a> and the rest of the world.</span>
            </div>
        </div>
    </div>
</footer>
<%= alert_script %>
