  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Sign in with:</h4>
        </div>
        <div class="modal-body" style="padding-bottom: 50px;">
          <%= render 'layouts/login_buttons' %>
        </div>
      </div>
    </div>
  </div>
